/* LAYOUT */

*{
	margin:0;
	padding:0;
}



body h1{
	text-align:center;
	margin-bottom:5px;
}

#container{
    display:flex;
    height:100vh;
}


/* SIDEBAR LEFT*/

.aside-left{
	background:#0a0a0a;
	width:18%;
	border-right:3px solid black;
}

	.aside-left section{
		
		height:50%;

	}

		.aside-left section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;
			border-bottom:3px solid black;

		}

		.aside-left section .atmosfericas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .atmosfericas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .atmosfericas-content article div{
					width:33%;
					color:#22e200;
				}

					.aside-left section .atmosfericas-content article div span{
						color:#ff0000;
					}

				.aside-left section .atmosfericas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .atmosfericas-content article div.sensors-measure{
					color:white;
				}

					.aside-left section .atmosfericas-content article div img{
						
					}

		.aside-left section .maritimas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .maritimas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .maritimas-content article div{
					width:33%;
					color:#22e200;
				}

					.aside-left section .maritimas-content article div span{
						color:#ff0000;
					}

				.aside-left section .maritimas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .maritimas-content article div.sensors-measure{
					color:white;
				}

					.aside-left section .maritimas-content article div img{
							
					}


/* MAIN*/

main{
	background:#ffffff;
	width:64%;
}

	main nav{
		display:flex;
		width:100%;
		background:black;
	}

		main nav div{
			flex-direction:row;
			padding:12.5px 0px 12.5px 0px;
			text-decoration:none;
			margin-left:2%;

		}

			main nav div a{
				text-decoration:none;
				font-weight:bold;
				color:#215d9c;
			}

/* SIDEBAR RIGHT*/

.aside-right{
	background:#0a0a0a;
	width:18%;
	border-left:3px solid black;
}

	.aside-right section{
		flex-direction:column;
		height:50%;

	}

		.aside-right section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;

		}



