/* LAYOUT */

*{
	margin:0;
	padding:0;
}



body h1{
	text-align:center;
	margin-bottom:5px;
}

#container{
    display:flex;
    height:100vh;
}


/* SIDEBAR LEFT*/

.aside-left{
	background:#0a0a0a;
	width:18%;
	border-right:3px solid black;
}

	.aside-left section{
		
		height:50%;

	}

		.aside-left section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;
			border-bottom:3px solid black;

		}

		.aside-left section .atmosfericas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .atmosfericas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .atmosfericas-content article div{
					width:33%;
					color:#22e200;
				}

					.aside-left section .atmosfericas-content article div span{
						color:#ff0000;
					}

				.aside-left section .atmosfericas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .atmosfericas-content article div.sensors-measure{
					color:white;
					font-size:15px;
				}

					.aside-left section .atmosfericas-content article div img{
						
					}

		.aside-left section .maritimas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .maritimas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .maritimas-content article div{
					width:33%;
					color:#22e200;
				}

					.aside-left section .maritimas-content article div span{
						color:#ff0000;
					}

				.aside-left section .maritimas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .maritimas-content article div.sensors-measure{
					color:white;
				}

					.aside-left section .maritimas-content article div img{
							
					}


/* MAIN*/

main{
	background:#ffffff;
	width:64%;
}

	main nav{
		display:flex;
		width:100%;
		background:black;
	}

		main nav div{
			flex-direction:row;
			padding:12.5px 0px 12.5px 0px;
			text-decoration:none;
			margin-left:2%;

		}

			main nav div a{
				text-decoration:none;
				font-weight:bold;
				color:#215d9c;
			}

/* SIDEBAR RIGHT*/

.aside-right{
	background:#0a0a0a;
	width:18%;
	border-left:3px solid black;
}

	.aside-right section{
		height:96.5%;
	}

		.aside-right section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;
			border-bottom:3px solid black;

		}

		.aside-right section .ensayos-content{
			display:flex;
			flex-flow:column;
			height:80%;			
		}

			.aside-right section .ensayos-content article{
				/*display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
				border-bottom:1px solid white;*/
			}

				.aside-right section .ensayos-content article header{
					font-size:12px;
					background: none;
					padding:15px 0px 15px 0px;
					border:0px;
					}
				
				.aside-right section .ensayos-content article section{
					height:3rem; /*16 x 3 = 48 pixeles*/		
					display:flex;
					flex-flow:row;
					align-items: center;
					justify-content:center;	
				}

					.aside-right section .ensayos-content article section .button{
						height:3.8rem;
						width:3.8rem;
						background:#ccc;
					}

					.aside-right section .ensayos-content article section div{
						display:flex;
						border:1px solid black;
						align-items: center;
						justify-content:center;	
					}

					.aside-right section .ensayos-content article section .div-central{
						height:3.8rem;
						width:3.8rem;
						background:white;
					}

					.aside-right section .ensayos-content article section .div-double{
						height:3.8rem;
						width:7.6rem;
						background:#ccc;
					}

					.aside-right section .ensayos-content article section .div-hide{
						display:none;
					}

						.aside-right section .ensayos-content article section div div{
							border:1px solid black;
							height:3rem;
						}

						.aside-right section .ensayos-content article section div .div-double-inner{
							width:6.8rem;
							background:white;
						}

						.aside-right section .ensayos-content article section div .div-button-inner-red{
							width:3rem;
							background:#ff0000;
						}

						.aside-right section .ensayos-content article section div .div-button-inner-green{
							width:3rem;
							background:#22e200;
						}

						.aside-right section .ensayos-content article section div .div-button-inner-gray{
							width:3rem;
							background:#666;
						}

		.aside-right section .extra-options{
			display:flex;
			flex-flow:column;
			height:16.5%;
			align-items: center;
			justify-content:center;
		}

			.aside-right section .extra-options div{
				
			}

				.aside-right section .extra-options div a{
					padding:5px 5px 5px 5px;
					background:#666;
					border:1px solid white;
					text-decoration:none;
					color:white;
					display:block;
				} 

					.aside-right section .extra-options div a:hover{
					text-decoration:none;
					border:1px solid black;
					color:black;
					} 


