/**************************************************
**************************************************

		LAYOUT

***************************************************
**************************************************/

*{
	margin:0;
	padding:0;
}



body h1{
	text-align:center;
	margin-bottom:5px;
}

#container{
    display:flex;
    height:100vh;
}


/**************************************************
		SIDEBAR LEFT
**************************************************/

.aside-left{
	background:#0a0a0a;
	width:18%;
	border-right:3px solid black;
}

	.aside-left section{
		
		height:50%;

	}

		.aside-left section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;
			border-bottom:3px solid black;

		}

		.aside-left section .atmosfericas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .atmosfericas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .atmosfericas-content article div{
					width:33%;
				}

				.aside-left section .atmosfericas-content article div.left-red{
					color:#ff0000;
				}

				.aside-left section .atmosfericas-content article div.left-green{
					color:#22e200;
				}

				.aside-left section .atmosfericas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .atmosfericas-content article div.sensors-measure{
					color:white;
					font-size:15px;
				}

					.aside-left section .atmosfericas-content article div img{
						
					}

		.aside-left section .maritimas-content{
			display:flex;
			flex-flow: column;
		}

			.aside-left section .maritimas-content article{
				display:flex;
				flex-flow: row;
				padding:10px 0px 10px 0px;
				margin:0px 3px 0px 5px;
				border-bottom:1px white solid;
				align-items: center;
			}

				.aside-left section .maritimas-content article div{
					width:33%;
				}

				.aside-left section .maritimas-content article div.left-red{
					color:#ff0000;
				}

				.aside-left section .maritimas-content article div.left-green{
					color:#22e200;
				}

				.aside-left section .maritimas-content article div.sensors-data{
					font-size:25px;
					weight:bold;
				}

				.aside-left section .maritimas-content article div.sensors-measure{
					color:white;
				}

					.aside-left section .maritimas-content article div img{
							
					}


/**************************************************
		MAIN
**************************************************/

main{
	background:#ffffff;
	width:64%;
}

	main .main-topbar{
		display:flex;
		width:100%;
		background:black;
	}

		main .main-topbar nav{
			display:flex;
			width:70%;
			background:black;
			height:2.625rem;

		}

			main .main-topbar nav div{
				display:flex;
				flex-direction:row;
				height:100%;
				
			}

				main .main-topbar nav div a{
					display:flex;
					text-decoration:none;
					font-weight:bold;
					color:#215d9c;
					padding-left:8%;
					padding-right:8%;
					height:2.625rem;
					align-items:center;
				}

					main .main-topbar nav div a:hover{
						background:white;
						color:black;
					}

		main .main-topbar .main-topbar-div{
			display:flex;
			width:30%;
			background:black;
			height:2.625rem;
			justify-content:flex-end;
		}

			main .main-topbar .main-topbar-div div{
					display:flex;
					flex-direction:row;
					height:100%;
					align-items:center;
				}

					main .main-topbar .main-topbar-div div a{
						display:flex;
						text-decoration:none;
						font-weight:bold;
						font-size:13px;
						color:#215d9c;
						padding-left:4%;
						padding-right:4%;
						height:2.625rem;
						align-items:center;
					}

						main .main-topbar .main-topbar-div div a:hover{
							color:white;
						}

					main .main-topbar .main-topbar-div div .image-link{
						display:flex;
						height:1.75rem;
						width:1.75rem;
						background: url("../images/user.png") no-repeat;
					}

						main .main-topbar .main-topbar-div div .image-link:hover{
							background: url("../images/user-hover.png") no-repeat;
						}

	main .main-content{
		display:flex;
		background:white;
		height:93.3%;
		width:98%;
		background:white;
		flex-direction:row;
		align-content:top;
		justify-content:start;
		/*flex-wrap:wrap;*/
		padding-left:1%;
		padding-right:1%;

	}

		main .main-content .main-div-left{
			width:20.6%;
		}

			main .main-content .main-div-left div{
				display:flex;
				height:13.3vw;
				align-items:flex-end;
				justify-content:center;
			}

			main .main-content .main-div-left div .main-single-article{
				width:11.5vw;
				height:11.5vw;
				background:white;
				border-radius:15px;
				border:2px solid;
			}

		main .main-content .main-div-center, main .main-content .main-div-right{
			width:39.8%;
		}

			main .main-content .main-div-center div, main .main-content .main-div-right div{
				display:flex;
				height:13.3vw;
				align-items:flex-end;
				justify-content:center;
			}

				main .main-content .main-div-center div .main-double-article, main .main-content .main-div-right div .main-double-article{
					width:23vw;
					height:11.5vw;
					background:white;
					border-radius:15px;
					border:2px solid;
				}


/**************************************************
 		SIDEBAR RIGHT
 *************************************************/

.aside-right{
	background:#0a0a0a;
	width:18%;
	border-left:3px solid black;
}

	.aside-right section{
		height:96.5%;
	}

		.aside-right section header{

			background:#215d9c;
			font-weight:bold;
			color:white;
			text-align:center;
			padding:10px 0px 10px 0px;
			border-top:3px solid black;
			border-bottom:3px solid black;

		}

		.aside-right section .ensayos-content{
			display:flex;
			flex-flow:column;
			height:80%;			
		}

			.aside-right section .ensayos-content article{
				
			}

				.aside-right section .ensayos-content article header{
					font-size:12px;
					background: none;
					padding:15px 0px 15px 0px;
					border:0px;
					}
				
				.aside-right section .ensayos-content article section{
					height:3rem; /*16 x 3 = 48 pixeles*/		
					display:flex;
					flex-flow:row;
					align-items: center;
					justify-content:center;	
				}

					.aside-right section .ensayos-content article section .button{
						height:3.2rem;
						width:3.2rem;
						background:#ccc;
					}

					.aside-right section .ensayos-content article section div{
						display:flex;
						border:1px solid black;
						align-items: center;
						justify-content:center;	
					}

					.aside-right section .ensayos-content article section .div-central{
						height:3.2rem;
						width:3.2rem;
						background:white;
					}

					.aside-right section .ensayos-content article section .div-double{
						height:3.2rem;
						width:6.4rem;
						background:#ccc;
					}

					.aside-right section .ensayos-content article section .div-hide{
						display:none;
					}

						.aside-right section .ensayos-content article section div div{
							border:1px solid black;
							height:2.6rem;
						}

						.aside-right section .ensayos-content article section div .div-double-inner{
							display:flex;
							width:5.8rem;
							background:white;
							justify-content:space-between;
						}

							.aside-right section .ensayos-content article section div .div-double-inner .div-button-left{
								width:25%;
								height:100%;
								background: #666 url("../images/minus.png") no-repeat;
								background-position: center center;
								border-left:0px;
							}

							.aside-right section .ensayos-content article section div .div-double-inner .div-button-right{
								width:25%;
								height:100%;
								background: #666 url("../images/plus.png") no-repeat;
								background-position: center center;
								border-right:0px;
							}

						.aside-right section .ensayos-content article section div .div-button-inner-red{
							width:2.6rem;
							background:#ff0000;
						}

						.aside-right section .ensayos-content article section div .div-button-inner-green{
							width:2.6rem;
							background:#22e200;
						}

						.aside-right section .ensayos-content article section div .div-button-inner-gray{
							width:2.6rem;
							background:#666;
						}

		.aside-right section .extra-options{
			display:flex;
			flex-flow:column;
			height:16.5%;
			align-items: center;
			justify-content:center;
		}

			.aside-right section .extra-options div{
				
			}

				.aside-right section .extra-options div a{
					padding:5px 5px 5px 5px;
					background:#666;
					border:1px solid white;
					text-decoration:none;
					color:white;
					display:block;
				} 

					.aside-right section .extra-options div a:hover{
					text-decoration:none;
					border:1px solid black;
					color:black;
					} 


