<section>

	<header class="ensayos">
		Ensayos
	</header>

	<section class="ensayos-content">

		<article>

			<header>% de carga</header>

			<section>
				<div class="div-double"><div class="div-double-inner"></div></div>
				<div class="div-hide"><div></div></div>
				<div class="button"><div class="div-button-inner-red"></div></div>
			</section>

		</article>

		<article>

			<header>Carena de carga</header>

			<section>
				<div class="div-double"><div class="div-double-inner"></div></div>
				<div class="div-hide"><div></div></div>
				<div class="button"><div class="div-button-inner-green"></div></div>
			</section>

		</article>

		<article>

			<header>Manejo de vela</header>

			<section>
				<div class="button"><div class="div-button-inner-gray"></div></div>
				<div class="div-central"></div>
				<div class="button"><div class="div-button-inner-gray"></div></div>
			</section>

		</article>

		<article>

			<header>Inclinación de vela</header>

			<section>
				<div class="button"><div class="div-button-inner-green"></div></div>
				<div class="div-central"></div>
				<div class="button"><div class="div-button-inner-red"></div></div>
			</section>

		</article>

		<article>

			<header>Selector % de uso de anillo</header>

			<section>
				
				<div class="div-double"><div class="div-double-inner"></div></div>
				<div class="div-hide"><div></div></div>
				<div class="button"><div class="div-button-inner-red"></div></div>
			</section>

		</article>

	</section>

	<section class="extra-options">
		
		<div><a href="#">Más opciones</a></div>

	</section>

</section>