<aside class="aside-right" ng-controller="AsideRightController">

	<section>

		<header class="ensayos">
			Ensayos
		</header>

		<section class="ensayos-content">

			<article ng-repeat="order in orders">

						<header>{{order.name}}</header>

							<section ng-controller="OrdersController">
									<div class="div-double">
											<div class="div-double-inner">
													<div class="div-button-left"></div>
													<div class="div-button-right"></div>
											</div>
								 </div>
								 <div class="div-hide">
									 	<div>
								 		</div>
							 	</div>
								<div class="button">
									<div class="div-button-inner"
												ng-class="{'background-orange' : order.status === 1, 'background-green' : order.status === 0, 'background-red': order.status === 2}"
											  ng-click="statusChange(order)">
									</div>
							 </div>
					  </section>

			</article>

		</section>

		<section class="extra-options">

			<div><a href="#">Más opciones</a></div>

		</section>

	</section>

</aside>
