	<section>

		<header class="atmosfericas">
			Atmosféricas
		</header>

		<article>

            <img/>
            <div class="sensors-data">{{meCtl.measure.data}}</div>
    		<div class="sensors-measure">{{meCtl.measure.date}</div>

		</article>

	</section>

	<section>

		<header class="maritimas">
			M. Ola interior
		</header>

		<article>

            <img/>
            <div class="sensors-data">{{meCtl.measure.data}}</div>
    		<div class="sensors-measure">{{meCtl.measure.date}</div>

		</article>

	</section>

