<aside class="aside-left">

	<section>

		<header class="atmosfericas">
			Atmosféricas
		</header>

		<section class="atmosfericas-content" ng-controller="MeasuresController as MeasuresCtrl">

			<article ng-repeat="item in MeasuresCtrl.atmosfericas">

	            <div><img src="{{item.imagenurl}}"/></div>
	            <div class="sensors-data {{item.class}}">{{item.data}}</div>
	    		<div class="sensors-measure">{{item.measure}}</div>

			</article>

		</section>

	</section>

	<section>

		<header class="maritimas">
			M. Ola interior
		</header>

			<section class="maritimas-content" ng-controller="MeasuresController as MeasuresCtrl">

			<article ng-repeat="item in MeasuresCtrl.maritimas">

	            <div><img src="{{item.imagenurl}}"/></div>
	            <div class="sensors-data {{item.class}}">{{item.data}}</div>
	    		<div class="sensors-measure">{{item.measure}}</div>

			</article>

		</section>

	</section>

</aside>