<div class="main-topbar">

	<nav>

		<div><a title="PRINCIPAL" href="#">PRINCIPAL</a></div>
		<div><a title="PRUEBAS" href="#">PRUEBAS</a></div>
		<div><a title="CAMARAS" href="#">CAMARAS</a></div>

	</nav>

	<div class="main-topbar-div">

		<div><a title="PRINCIPAL" href="#">Administración</a></div>
		<div><a title="PRUEBAS" href="#" class="image-link"></a></div>

	</div>

</div>

<section class="main-content">

		<div class="main-div-left">

			<div class="main-div-top">

				<article class="main-single-article">

				</article>
				
			</div>

			<div class="main-div-middle">
				
				<article class="main-single-article">

				</article>

			</div>

			<div class="main-div-bottom">
				
				<article class="main-single-article">

				</article>

			</div>

		</div>

		<div class="main-div-center">

			<div class="main-div-top">
				
				<article class="main-double-article">

				</article>

			</div>

			<div class="main-div-middle">
				
				<article class="main-double-article">

				</article>

			</div>

			<div class="main-div-bottom">
				
				<article class="main-double-article">

				</article>

			</div>		

		</div>

		<div class="main-div-right">

			<div class="main-div-top">
				
				<article class="main-double-article">

				</article>

			</div>

			<div class="main-div-middle">
				
				<article class="main-double-article">

				</article>

			</div>

			<div class="main-div-bottom">
				
				<article class="main-double-article">

				</article>

			</div>

		</div>


<!--
		<article>

		</article>

		<article class="double-article">

		</article>

		<article class="double-article">

		</article>

		<article>

		</article>

		<article class="double-article">

		</article>

		<article class="double-article">

		</article>

		<article>

		</article>

		<article>

		</article>

-->

<section>