<main-nav></main-nav>

<section class="main-content" ng-controller="PrincipalController">

	<div class="main-div-left">

		<div class="main-div-top">

			<article class="main-single-article">
					<highchart id="chart1" config="charts['torque'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-single-article">

			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-single-article">

			</article>

		</div>

	</div>

	<div class="main-div-center">

		<div class="main-div-top">

			<article class="main-double-article">

			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-double-article">

			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-double-article">

			</article>

		</div>

	</div>

	<div class="main-div-right">

		<div class="main-div-top">

			<article class="main-double-article">

			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-double-article">

			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-double-article">

			</article>

		</div>

	</div>

</section>
