<main-nav></main-nav>

<section class="main-content" ng-controller="PrincipalController">

	<div class="main-div-left">

		<div class="main-div-top">

			<article class="main-single-article">
					<highchart id="chart1" config="charts['desplazamiento.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-single-article">
					<highchart id="chart2" config="charts['cargaBodega.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-single-article">
					<highchart id="chart3" config="charts['cargaCubierta.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

	</div>

	<div class="main-div-center">

		<div class="main-div-top">

			<article class="main-double-article">
					<highchart id="chart4" config="charts['consumo.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-double-article">
					<highchart id="chart5" config="charts['comparativaEscoraNivelado.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-double-article">

			</article>

		</div>

	</div>

	<div class="main-div-right">

		<div class="main-div-top">

			<article class="main-double-article">
					<highchart id="chart6" config="charts['porcentajeRecursos.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-middle">

			<article class="main-double-article">
					<highchart id="chart7" config="charts['sensoresEnsayo.chartConfig.name'].chartConfig" class="span10"></highchart>
			</article>

		</div>

		<div class="main-div-bottom">

			<article class="main-double-article">

			</article>

		</div>

	</div>

</section>
